<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="card-body">
        <a class="nav-link active" href="<%= crypto_path %>">Chercher un autre</a>
      </li>
    </ul>
  </div>

  <div class="card-body">
    <h5 class="card-title"><%= @a.crypto_name %></h5>
    <p class="card-text"><%= @a.cours %></p>
  </div>

</div>